.modal__img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 32px;
}

.modal__weather {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 32px;
}

.modal__item-close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background: transparent;
}

.modal__delete {
  position: absolute;
  top: 517px;
  left: 360px;
  color: #ff4d00;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
