.footer {
  width: 1358px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 171px;
}

.footer__name {
  margin: 0px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__year {
  margin: 0px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
